:root{
  --bg-color-one: #282c34;
  --bg-color-two: #333842;
  --bg-color-three: #3d4147;

  --button: #03DAC6;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App textarea {
  resize: none;
  border: inset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-color: var(--bg-color-three);
  border-width: 1px;
  border-radius: 5px;

  background: var(--bg-color-three);
  color: white;
  padding: 3px 8px;

  scrollbar-width: thin;
  scrollbar-color: #fff var(--bg-color-three);

  font-size: inherit;
  font-family: inherit;
  
  width: 100%;
}

.App textarea::-webkit-scrollbar {
  background: var(--bg-color-three);
  width: 0.5vmin;
  border-radius: 10px;
  margin-right: 50px;
}
.App textarea::-webkit-scrollbar-thumb {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.App #submit-button {
  border: none;
  border-radius: 4px;

  background: var(--button);
  color: var(--bg-color-one);

  height: 5vh;
  width: 9vw;
  padding: 0;

  position: absolute;
  right: 9vw;
}

.App #submit-button:active {
  background: var(--bg-color-two);
}

.App form {
  width: 77vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.App #list-head {
  padding-bottom: 4vh;
}

.App #list-body {
  padding: 0;
}

.App #list-body li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--bg-color-three);
  border-radius: 5px;

  padding: 0px 2vh;
  margin-bottom: 2vh;
  width: 70vh;
}

.App #list-body img{
  width: 4vh;
  height: 4vh;
}
.App #list-body img:hover{
  cursor: pointer;
}